global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'op-exporter'
    scrape_interval: 15s
    static_configs:
      - targets: ['op-exporter:9100']

  - job_name: 'op-node-metrics'
    scrape_interval: 15s
    static_configs:
      - targets: ['op-node:7300']

