name: Sync with upstream

on:
  schedule:
    - cron:  '0 0 * * *' # Runs every day at 00:00 UTC

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Merge upstream
        run: |
          git remote add upstream https://github.com/ethereum-optimism/optimism.git
          git fetch upstream develop
          git checkout develop
          git merge upstream/develop
          git push origin develop

